html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'StreetFigtherFont';
  src: url('assets/Martyric_PersonalUse.ttf') format('truetype');
}

.standardButton {
  background-color: #bcbcbc00;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  font-family: "StreetFigtherFont";
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}
.standardButton {
  border-color: transparent;
  transition: background-color 0.2s ease-in-out;
}
  
.standardButton:hover {
  background-color: #bcbcbc;
  color: orange;
}